# Proxmox API endpoint (формат обязателен: https://host:port/api2/json)
proxmox_endpoint     = "https://<IP>:<PORT>/api2/json"

# ID API токена (формат: user@realm!token_name)
proxmox_token_id     = "terraform@pve!user"

# Секрет API токена (не коммитить в git)
proxmox_token_secret = "<PROXMOX_TOKEN>"

# Стартовый VMID для worker-нод (будут увеличиваться автоматически)
worker_vmid_start = 4000

# Дефолтные ресурсы для worker VM
worker_cpu       = 2
worker_memory    = 2048
worker_disk      = 20
worker_datastore = "ssd2"

image_datastore = "local"
image_file      = "import/ubuntu-24.qcow2"
data_datastore = "data1"
